<h1>Welcome to Angular</h1>
<!-- <app-header></app-header>
<app-class-binding></app-class-binding> -->

<!-- <app-ng-class-dir></app-ng-class-dir> -->

<!-- <app-template-reference></app-template-reference> -->

<!-- <app-user></app-user> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-structure-directives></app-structure-directives> -->

<!-- <app-child [myData]="name"></app-child>
<button (click)="changeData()">Change Data</button>
<app-child [myDataArray]="fruits"></app-child>
<app-child [myDataObj]="obj"></app-child> -->

<!-- <h2>{{ mgs }}</h2>
<app-child2 (childEvent)="mgs = $event"></app-child2> -->

<!-- <app-pipes></app-pipes> -->

<!-- <h2>{{ 5 | customPipes }}</h2> -->
<!-- <h2>{{ 8 | customPipes : 2 }}</h2> -->
<!-- <h2>{{ 8 | customPipes : 221 }}</h2> -->

<app-student-list></app-student-list>
<app-students-data></app-students-data>
