<p>classes works!</p>
<div class="navbar">
  <div class="nav">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Project</li>
      <li>Contact Us</li>
    </ul>
  </div>
</div>
<section>
  <div>
    <p class="pararagh"></p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero
      consequuntur dicta harum deserunt ad porro hic voluptate, delectus,
      aspernatur laudantium excepturi nulla eos accusantium ab labore omnis
      expedita tempora ipsa. Animi recusandae voluptatum cumque possimus
      consequuntur officiis alias quod molestias, amet beatae suscipit magnam
      excepturi cupiditate labore quas? Natus, laboriosam assumenda, tenetur cum
      eius quis cupiditate hic modi a veritatis, dolores tempore eaque ex!
      Repudiandae nobis nemo consectetur impedit, sit cumque provident quidem
      odit sapiente harum blanditiis culpa praesentium rerum minima temporibus
      in inventore sequi ex deserunt. Ratione porro iste laudantium nulla
      eligendi? Ex iste fuga neque repellat ullam itaque.
    </p>
  </div>
</section>
