<p>ng-class-dir works!</p>
<!-- <h2 [ngClass]="'mycolor myWriting'">This is ng-class-directory</h2> -->

<!-- <h2 [ngClass]="['mycolor', 'myWriting']">This is ng-class-directory</h2> -->

<!-- <h2 [ngClass]="{ mycolor: true }">This is ng-class-directory</h2> -->

<!-- <h2 [ngClass]="{ mycolor: condition }">This is ng-class-directory</h2> -->

<!-- <h2 [ngClass]="{ mycolor: 10 > 5, myWriting: true }">
  This is ng-class-directory
</h2> -->

<!-- <h2 [ngClass]="cssClass">This is ng-class-directory</h2> -->

<!-- <h2 [ngClass]="cssArray">This is ng-class-directory</h2> -->

<h2 [ngClass]="c">This is ng-class-directory</h2>
